/* CSS Document */
@font-face {
    font-family: 'energicos-bold';
    src: url('../assets/fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'energicos-semibold';
    src: url('../assets/fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'energicos-medium';
    src: url('../assets/fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'energicos-regular';
    src: url('../assets/fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'energicos-icons';
  src: url('../assets/fonts/fontello.eot');
  src: url('../assets/fonts/fontello.eot') format('embedded-opentype'),
       url('../assets/fonts/fontello.woff2') format('woff2'),
       url('../assets/fonts/fontello.woff') format('woff'),
       url('../assets/fonts/fontello.ttf') format('truetype'),
       url('../assets/fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
