.icon-calendar:before { content: '\e801'; } /* '' */
.icon-coins:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e804'; } /* '' */
.icon-cabinet:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-time:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-city:before { content: '\e809'; } /* '' */